geopandas
geopy
global_land_mask
great_expectations
pygeos
python_geohash
rtree
scikit_learn
scipy
setuptools
Shapely
timezonefinder
uszipcode
pydantic>=2.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
